img{
	width: 200px;
	border-radius: 30px;
}
h1{
	text-align: center;
	background: orange;
	font-family: sans-serif;	
}
p {
	text-align: center;
}
h4{
	text-align: center;
	background: orange;
	font-family: sans-serif;
}
